@model ProductVM;
@{
    var productimage = Model.product.product_image ?? string.Empty;
}
<style>
    .p_img_wrap {
        max-width:250px;
        width: 100%;
        aspect-ratio:1/1;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #image_cancel_button {
        position: absolute;
        top: 0px;
        right: 5px;
        color: red;
        font-size: 1.2rem;
    }

    .p_img_wrap .inp_container i {
        display: inline-block;
        font-size: 3rem;
        opacity: 60%;
    }

    .inp_file {
        width: 150px;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%,0%);
    }

    .inp_wrapper {
        overflow: hidden;
    }

    .inp_file #p_img-error {
        position: absolute;
        top: 35px;
        width: 150px;
    }

    .inp_file input[type="file"] {
        opacity: 0;
    }

    #p_img {
        z-index: -1;
        overflow: hidden;
    }

    .inp_file .up_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 2;
    }

     /* Cropper Js */
    #cropper_modal .img-container {
        width: 100%;
        max-height: 300px; /* Adjust this value as needed */
        overflow: hidden;
        margin: auto;
    }

     #cropper_modal .img-container img {
         width: 100%; /* This ensures the image scales to fit the container */
         height: auto;
     }

    .crop_wrap{
        width:100%;
        
        background-color:red;
    }
</style>
<div class="container p-3 px-4">
    <h4 class="text-secondary">@(Model.product.product_id != 0 ? "Update Product" : "Add Product")</h4>
    <form id="p_form" enctype="multipart/form-data">
        <div class="container p-0 mb-1">
            <div class="row mb-3">
                <div class="col-lg-4 col-sm-12">
                    <div>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div class="p_img_wrap border border-success shadow mt-3">
                                <i class="bi bi-x-square" id="image_cancel_button"></i>
                                <div class="inp_container">
                                    <label for="p_img">
                                        <i class="bi bi-arrow-up-square text-success"></i>
                                    </label>
                                    <div class="inp_file">
                                        <div class="up_text text-primary">
                                            <label for="p_img" class="upload_text">Upload</label>
                                        </div>
                                        <div class="inp_wrapper">
                                            <input type="file" id="p_img" accept="image/*" name="p_img" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="mb-3">
                        <input type="hidden" id="p_id" name="p_id" asp-for="@Model.product.product_id" />
                        <label for="p_name" class="text-primary">Name</label>
                        <input type="text" id="p_name" class="form-control" name="p_name" asp-for="@Model.product.product_name" />
                    </div>
                    <div class="mb-3">
                        <div class="row g-3"> 
                            <div class="col-sm-6 col-lg-12 col-xl-6">
                                <label for="p_category" class="text-primary">Category</label>
                                <select type="number" id="p_category" class="form-select" name="p_category" asp-for="@Model.product.cat_id" asp-items="@Model.categoryList">
                                    <option selected disabled>-- Category --</option>
                                </select>
                            </div>
                            <div class="col-sm-6 col-lg-12 col-xl-6">
                                <label for="p_price" class="text-primary">Price</label>
                                <input type="number" id="p_price" class="form-control" name="p_price" asp-for="@Model.product.product_price"/>
                            </div>
                        </div>
                        
                    </div>
                    <div class="">
                        <label for="p_description" class="text-primary">Description</label>
                        <textarea id="p_description" name="p_description" asp-for="@Model.product.product_description" class="form-control" cols="50" rows="2" style="resize:none"></textarea>
                    </div>
                </div>
            </div>
            <div class="row px-4 pt-3">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="@Url.Action("productlist","Category")" class="btn btn-danger mx-1">Back To List</a>
                    <button type="button" class="btn btn-success mx-1" id="p_add_submit"><i class="bi bi-plus-circle"></i> Submit</button>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal fade" id="cropper_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="crop_wrap">
                    <div class="img-container">
                        <img id="image" style="display: none;">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cropButton" class="btn btn-success" style="display: none;">Crop</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function(){

            $("#image_cancel_button").hide();
            SetProductImageComesFromEdit();
            function SetProductImageComesFromEdit() {
                var ImageVariable = '@productimage';
                if (ImageVariable != "" && ImageVariable != null) {
                    $(".p_img_wrap").css("background-image", "url('" + "@Url.Content("~/ProductImages/")" + ImageVariable + "')");
                    $("#image_cancel_button").show();
                    $('label[for="p_img"]').hide();
                }
            }
            $("#p_form").validate({
                rules: {
                    p_name: {
                        required: true
                    },
                    p_price: {
                        required: true,
                    },
                    p_description: {
                        required: true
                    },
                    p_img: {
                        required: true
                    },
                    p_category:{
                        required: true
                    }
                },
                messages: {
                    p_name: {
                        required: "Product Name is  Required"
                    },
                    p_price: {
                        required: "Product Price is required",
                    },
                    p_description: {
                        required: "You have to describe your Product"
                    },
                    p_img: {
                        required: "Select a Image Here"
                    },
                    p_category:{
                        required: "Choose A Category Here"
                    }
                },
            });

            var croppedImageBlob;
            var cropper;
            var image = $('#image')[0];
            var cropButton = $('#cropButton')[0];

            $("#p_img").change(function (event) {
                // Function to display the selected image
                //displaySelectedImage(this);
                if ($("#p_img").val()!=""){
                    $("#cropper_modal").modal("show");
                    var files = event.target.files;
                    var done = function (url) {
                        image.src = url;
                        image.style.display = 'block';
                        cropButton.style.display = 'block';
                        if (cropper) {
                            cropper.destroy();
                        }
                        cropper = new Cropper(image, {
                            aspectRatio: 1,
                            viewMode: 1,
                            responsive: true,
                        });
                    };
                    var reader;
                    var file;
                    var url;

                    if (files && files.length > 0) {
                        file = files[0];

                        if (URL) {
                            done(URL.createObjectURL(file));
                        } else if (FileReader) {
                            reader = new FileReader();
                            reader.onload = function (e) {
                                done(reader.result);
                            };
                            reader.readAsDataURL(file);
                        }
                    }
                }
            });

            $("#cropButton").click(function () {
                if (!cropper) {
                    return;
                }

                var canvas = cropper.getCroppedCanvas({
                    width: 600,
                    height: 600,
                });

                canvas.toBlob(function (blob) {
                    croppedImageBlob = blob;
                    var url = URL.createObjectURL(blob);
                    $(".p_img_wrap").css('background-image', `url('${url}')`);
                    $("#cropper_modal").modal("hide");
                    $("#image_cancel_button").show();
                    $('label[for="p_img"]').hide();
                    cropper.destroy();
                }, 'image/jpeg');
            });

            
            $("#image_cancel_button").click(function () {
                $("#image_cancel_button").hide();
                $('label[for="p_img"]').show();
                $("#p_img").val(null);
                $(".p_img_wrap").css(`background-image`, ``);
            })

            function clearForm() {
                $("#p_name").val("");
                $("#p_category").val("");
                $("#p_price").val("");
                $("#p_description").val("");
                $("#ImageSave").val(null);
                $(".p_img_wrap").css(`background-image`, ``);
                $("#image_cancel_button").hide();
                $('label[for="p_img"]').show();
            }
            $("#p_add_submit").click(function(){
                if ($("#p_id").val() != 0) {
                    //$("#p_form").validate().settings.rules["p_name"] = undefined;
                    $('#p_img').rules('remove', 'required');
                }
                let isvalid = $("#p_form").valid();
                if (isvalid) {
                    let obj = {
                        product_id: $("#p_id").val(),
                        product_name: $("#p_name").val(),
                        product_price: $("#p_price").val(),
                        cat_id: $("#p_category").val(),
                        product_description: $("#p_description").val(),
                    }
                    //console.log(obj);
                    let imagefile = croppedImageBlob || $("#p_img")[0].files[0];
                    let filename =  $("#p_img")[0].files[0].name;

                    let pvm = new FormData();
                    for (let p in obj) {
                        pvm.append(`product.${p}`, obj[p]);
                    }
                    pvm.append(`imagefile`, imagefile, filename);
                    $.ajax({
                        url: "/Category/productupsert",
                        type: "post",
                        contentType: false,
                        processData: false,
                        data: pvm,
                        success: function (res) {
                            if (res) {
                                console.log("success");
                                clearForm();
                                window.location.href="/Category/productlist"
                            }
                        }
                    })
                }
                else{
                    $("#p_form").validate().showErrors();
                }
                
            })

            $('#cropper_modal').on('shown.bs.modal', function () {
                setTimeout(function () {
                    var $el = $('#cropper_modal');
                    $el.css('display', 'none');
                    $el.height(); // force reflow
                    $el.css('display', 'block');
                    if (cropper) {
                        cropper.destroy();
                    }
                    cropper = new Cropper(image, {
                        aspectRatio: 1,
                        viewMode: 1,
                        responsive: true,
                    });
                }, 100); // Adjust the delay if necessary
            });
        })
    </script>
}