@model Admin;
@{}


<div class="container">
    <div class="main_wrap">
        <form class="pro_con shadow" id="myform" method="post" enctype="multipart/form-data" action="/Admin/Admin_Details_Page">
            <div class="image_wrapper" style="background-image: url('../AdminImages/@Model.admin_image');">
                @* <div id="iw_text">
                    <input type="file" id="ci" class="change_image" name="imageFile"/>
                    <label for="ci" class="cil">Change Image</label>
                </div> *@
                <div id="iw_text_upl">
                    <input type="file" id="ci2" class="change_image" name="img" />
                    <label for="ci2" class="cil">Upload Image</label>
                </div>
                <div id="toShowUploadImage" style="">
                    <div id="error-message"></div>
                </div>
                @* <img id="selectedImagePreview" alt="Selected Image" style="max-width: 100%;" /> *@
            </div>
            <div class="text_section">
                <ul>
                    <li>
                        <input type="hidden" id="aid" asp-for="admin_id" />
                        <strong>Name :</strong> 
                        <span id="name">@Model.admin_name</span>
                        <i class="bi bi-pen-fill" id="in"></i>
                        <div class="inpwr">
                            <input type="text" id="ani" value="@Model.admin_name" asp-for="admin_name" name="admin_name" />
                        </div>
                    <li>
                        <strong>Email :</strong>
                        <span id="email">@Model.admin_email</span>
                        <i class="bi bi-pen-fill" id="ie"></i>
                        <div class="inpwr">
                            <input type="text" id="ane" value="@Model.admin_email" asp-for="admin_email" name="admin_email" />
                        </div>
                    </li>
                    <li>
                        <strong>Password :</strong> 
                        <span id="password"><em>Hidden</em></span>
                        <i class="bi bi-pen-fill" id="ip"></i>
                        <div class="inpwr">
                            <input type="text" id="anp" value="@Model.admin_password" asp-for="admin_password" name="admin_password" />
                        </div>
                    </li>
                </ul>
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-primary btn-sm" id="edit_details"><i class="bi bi-pencil-square"></i> Edit Details</button>
                    <button type="button" class="btn btn-danger btn-sm" id="A_cancel"><i class="bi bi-pencil-square"></i> Cancel</button>
                    <button type="submit" class="btn btn-success btn-sm" id="A_conform"><i class="bi bi-pencil-square"></i> Conform</button>
                </div>
                </div>
        </form>
        <div class="pro_table">
            satya
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function(){
            hidefun();
            $("#myform").validate({
                rules: {
                    admin_name: {
                        required: true
                    },
                    admin_email: {
                        required: true,
                        email: true
                    },
                    admin_password: {
                        required: true
                    }
                },
                messages: {
                    admin_name: {
                        required: "Name is  Required"
                    },
                    admin_email: {
                        required: "Email is required",
                        email: "Invalid Email Format"
                    },
                    admin_password:{
                        required:"Password id required"
                    }
                },

                submitHandler: function (form) {
                    form.submit();
                }
            })

            $("#ci2").change(function () {
                // Function to display the selected image
                displaySelectedImage(this);
            });

            // Function to display the selected image
            function displaySelectedImage(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        // Update the src attribute of the img element
                        $("#toShowUploadImage").css(`background-image`, `url('${e.target.result}')`);
                    };

                    // Read the selected image as data URL
                    reader.readAsDataURL(input.files[0]);
                }
            }
        })
        @*// Assuming 'newAdminName' is a variable containing the new admin name
        var newAdminName = `@Model.admin_name`;
        // Manipulating the content of the div with class 'right'
        document.querySelector('.right a').innerText = newAdminName;*@
        // using jQuery:
        // $('.admin-name').text(`@Model.admin_name`);
        //dont touch ^^^


        $("#edit_details").click(function () {
            showfun();
        })
        $("#A_cancel").click(function(){
            hidefun();
        })

        $("#ci2").click(function(){
            $("#selectedImagePreview").show();
        })

        function showfun(){
            $(".text_section ul li span,i").hide();
            $(".text_section ul li .inpwr").show();
            $(".text_section #A_cancel,#A_conform,#edit_details").show();
            $(".text_section #edit_details").hide();
            $(".image_wrapper #iw_text").hide();
            $(".image_wrapper #iw_text_upl").show();
            $(".image_wrapper").css(`background-image`, `none`);
            $("#selectedImagePreview").show();
            $("#toShowUploadImage").show();
        }
        function hidefun() {
            $(".text_section ul li .inpwr").hide();
            $(".text_section #A_cancel,#A_conform").hide();
            $(".text_section #edit_details").show();
            $(".text_section ul li span,i").show();
            $(".image_wrapper #iw_text").show();
            $(".image_wrapper #iw_text_upl").hide();
            $(".image_wrapper").css(`background-image`, `url('../AdminImages/@Model.admin_image')`);
            $("#selectedImagePreview").hide();
            $("#toShowUploadImage").hide();
        }
    </script>
}
@section styles{
    <link href="~/css/adp.css" rel="stylesheet" asp-append-version="true"/>
}
